/* General Page Styling */
.homepage {
  padding: 20px;
}

/* Center Header Section */
.header-section {
  margin-bottom: 30px;
}

.logoStyle {
  max-width: 275px;
  max-height: 275px;
}

.input-style {
  width: 500px;
}

/* Styling for Cards Section */
.cards-container {
  list-style: none; /* Remove bullets */
  gap: 20px; /* Add spacing between cards */
  margin: 0 auto;
}

/* Styling Individual Cards */
.card-item {
  flex: 1 1 calc(20% - 20px); /* 5 cards per row, including spacing */
  max-width: calc(20% - 20px); /* Ensure consistent width */
  border: 1px solid #ddd;
  border-radius: 8px;
  background: #f8f9fa;
  text-align: center;
  padding: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.card-item img {
  max-width: 100%;
  height: auto;
  border-radius: 4px;
}

.card-item:hover {
  background-color: gray;
}