/* Background for login/register pages */
.login-background {
  background-image: url('../../public/FAB-Login-Background.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100%;
  width: 100%;
  margin: 0;
}


/* Form container styling */
.backgroundImg {
  background: rgba(255, 255, 255, 0.9);
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}